.welcome {
    background: rgb(175, 204, 231);
    border-radius: 10px;
    padding: var(--padding-md) var(--padding-md);
    color: rgb(23, 89, 124);
    box-shadow: var(--primary-box-shadow);

    h1 {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        gap: 1rem;
        margin-bottom: var(--margin-xxs);
        @media screen and (max-width: 600px) {
            font-size: 1.2rem;
        }

        svg {
            font-size: 2rem;
            flex-shrink: 0;
            @media screen and (max-width: 600px) {
                font-size: 1.5rem;
            }
        }
    }

    p {
        font-size: 1.1rem;
    }
}

.content_container {
    display: flex;
    gap: 0.5rem;

    @media screen and (max-width: 850px) {
        flex-direction: column;
    }

    .announcements {
        border-radius: 10px;
        padding: var(--padding-sm) var(--padding-md);
        margin-top: var(--margin-md);
        color: rgb(23, 89, 124);
        flex: 1;
        box-shadow: var(--primary-box-shadow);

        @media screen and (max-width: 850px) {
            width: 100%;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2rem;

            .text {
                h2 {
                    font-size: 1.2rem;
                }
                p {
                    font-size: 0.8rem;
                }
            }

            .link a {
                font-weight: bold;
                text-decoration: none;
                color: rgb(23, 89, 124);
                font-size: 1.1rem;
            }
        }

        .data {
            .instructor_container {
                display: flex;
                gap: 0.5rem;
                z-index: -1;
                align-items: center;
            }

            .img_container {
                display: flex;
                justify-content: center;
                padding: 0.5rem;

                img {
                    border-radius: 50%;
                    width: 2.2rem;
                    height: 2.2rem;
                }
            }

            .username {
                display: flex;
                align-items: center;
                gap: 0.1rem;
                cursor: pointer;

                &:after {
                    content: '';
                    width: 1px;
                    height: 1.5rem;
                    background: rgb(223, 223, 223);
                    margin-right: var(--margin-xs);
                    margin-left: var(--margin-xs);
                }

                span {
                    font-size: 0.8rem;
                    font-weight: bold;
                    color: #475569;
                    @media screen and (max-width: 360px) {
                        display: none;
                    }
                }
            }
        }
    }

    .quiz {
        width: 35%;
        border-radius: 10px;
        padding: var(--padding-sm) var(--padding-md);
        margin-top: var(--margin-md);
        color: rgb(23, 89, 124);
        box-shadow: var(--primary-box-shadow);

        @media screen and (max-width: 850px) {
            width: 100%;
            flex: 1;
            margin-top: var(--margin-sm);
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            margin-bottom: 1rem;

            .text {
                h2 {
                    font-size: 1.2rem;
                }
                p {
                    font-size: 0.8rem;
                }
            }

            .link a {
                font-weight: bold;
                text-decoration: none;
                color: rgb(23, 89, 124);
                font-size: 1.1rem;
            }
        }

        .data {
            .quiz_container {

                border-bottom: 1px solid #ccc;
                padding-bottom: .5rem;
                margin-bottom: .5rem;

                .quiz_title p {
                    font-weight: bold;
                    margin-bottom: .5rem;
                }

                .quiz_details{
                    li {
                        margin-bottom: .25rem;
    
                        .quiz_details_head {
                            font-weight: bold;
                            margin-right: .25rem;
                        }
                    }

                    .quiz_cta {
                        width: 100%;

                        &_btn {
                            text-decoration: none;
                            padding: .25rem 0;
                            display: block;
                            text-align: center;
                            border: 1px solid rgb(59,130,152);
                            color: rgb(23, 89, 124);
                            border-radius: 5px;
                            font-weight: bold;
                            line-height: 2;
                            font-size: 1.1rem;
                            text-transform: uppercase;
                            margin: .5rem 0;
                            transition: all ease-in-out 300ms;

                            &:hover {
                                background-color: #475569;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}
